<!DOCTYPE html>
<html>
<head>
    <title>Real-time Word Checking</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Include jQuery -->
</head>
<body>
    <div class="inputText" id="inputText" contenteditable="true" spellcheck="false" autocorrect="off" autocapitalize="off" data-lt-active="true" data-lt-toolbar="false" data-lt-editor-input="true" data-gramm="false"></div>
    <ul id="incorrectWordsList"></ul>
    <script src="/static/main.js"></script> <!-- Include your JavaScript file -->
</body>
</html>
